<ul class="padding-with-frieze">
      <li>
        <div class="flexrow flex-group-center items-center">
            <label for="system.identity.age" class="flexlarge align-left">Age</label>
            <input type="number" name="system.identity.age" value="{{ system.identity.age }}" data-dtype="Number"/>
            <span>cm</span>
        </div>
      </li>  
      <li>
        <div class="flexrow flex-group-center items-center">
            <label for="system.identity.height" class="flexlarge align-left">Taille</label>
            <input type="number" name="system.identity.height" value="{{ system.identity.height }}" data-dtype="Number"/>
            <span>cm</span>
          </div>
      </li>  
        <li>
        <div class="flexrow flex-group-center items-center">
            <label for="system.identity.weigth" class="flexlarge align-left">Poids</label>
            <input type="number" name="system.identity.weigth" value="{{ system.identity.weigth }}" data-dtype="Number"/> 
            <span>kgs</span>
          </div>
      </li>   

        <li>
        <div class="flexrow flex-group-center items-center">
            <label for="system.identity.gender" class="flexlarge align-left">Sexe</label>
            <input type="string" name="system.identity.gender" value="{{ system.identity.gender }}" data-dtype="String"/> 
          </div>
      </li>   
      <li>
        <div class="flexrow flex-group-center items-center">
            <label for="system.identity.sign" class="flexlarge align-left">Signe astro.</label>
            <input type="string" name="system.identity.sign" value="{{ system.identity.sign }}" data-dtype="String"/> 
          </div>
      </li>   
      <li>
        <div class="flexrow flex-group-center items-center">
            <label for="system.identity.origin" class="resource-label flexlarge align-left">Origine</label>
            <input type="string" name="system.identity.origin" value="{{ system.identity.origin }}" data-dtype="String"/> 
          </div>
      </li>   
  </ul>